<h1>Routing and Navigation</h1>
<!--<app-department-list></app-department-list>
<app-employee-list></app-employee-list>-->

<nav>

  <a routerLink="/departments" routerLinkActive="active">Deparments</a>
  <a routerLink="/employees" routerLinkActive="active">Employees</a>
</nav>











<router-outlet></router-outlet>
<!--routed views go here-->