<p>department-list works!</p>
<ul *ngFor="let department of departments">

<li (click)="onSelect(department)" [class.selected]="isSelected(department)">{{department.id}}:{{department.name}}</li>

</ul>