/* You can add global styles to this file, and also import other style files */

nav a .active{

font-size:50px;
}

nav a {
    margin: 10px;
    padding: 10px;
}

.selected{
    background-color: grey;
}